@model IEnumerable<Mileage_Logger.Models.tblFillUp>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <div class="card customIndexCard">
        <div class="row no-gutters">
            <div class="col-md-4">
                <h5 class="card-title"><strong>@item.FillUp_DateTime.Date</strong></h5>
                <p class="card-text">Liter Price: @item.FillUp_LiterPrice</p>
                <p class="card-text">Liters: @item.FillUp_Liters</p>
                <p class="card-text">Millage: @item.FillUp_Milage</p>
                <p class="card-text">Odo: @item.FillUp_Odo</p>
                <p class="card-text">Fuel Type: @item.tblFuelType.FuelType_Description</p>
            </div>
            <div class="col-md-8">
                <div class="card-body IndexCard">
                    <img src="@item.FillUp_SlipImage" alt="Mo Image" style="max-width: 10px; max-height: 15px;"/>
                </div>
            </div>
        </div>
        <hr/>
        <button class="btn btn-primary" name="ViewCar" onclick="location.href = '@Url.Action("Details", "FillUps", new {  id = item.Car_ID})'">View</button>
        <button class="btn btn-warning" name="EditCar" onclick="location.href = '@Url.Action("Edit", "FillUps", new {  id = item.Car_ID})'">Edit</button>
        <button class="btn btn-danger" name="DeleteCar" onclick="location.href = '@Url.Action("Delete", "FillUps", new {  id = item.Car_ID})'">Delete</button>
    </div>
}




<style>
    .customIndexCard {
        border-style: solid;
        border-color: #A8A8A8;
        border-radius: 5px;
        padding: 0.5rem;
        max-width: 30%
    }

    .IndexCard {
        border-left: solid;
        border-color: dimgrey;
        padding: 2%;
    }

        .IndexCard > button {
            margin: 0.5rem
        }
</style>

