@model IEnumerable<Mileage_Logger.Models.tblFillUp>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FillUp_Milage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FillUp_Odo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FillUp_DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FillUp_Liters)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FillUp_LiterPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FillUp_Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FillUp_SlipImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblCar.Car_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblFuelType.FuelType_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblUser.Username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FillUp_Milage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FillUp_Odo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FillUp_DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FillUp_Liters)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FillUp_LiterPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FillUp_Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FillUp_SlipImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblCar.Car_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblFuelType.FuelType_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblUser.Username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FillUp_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FillUp_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FillUp_ID })
        </td>
    </tr>
}

</table>
